header {
	position: fixed;
	width: 100%;
}

body {
	background: linear-gradient(to bottom, #91B5D8, white);
}


.hero {
	background-image: url(../images/skyline.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	max-width: 100%;
	height: 30rem;
}

 

a:hover {
	color: white;
}

.logo {
	border-radius: 50%;
	width: 10%;
	display: none;
}

h1 {
	margin:0;
	padding-top: 15rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}


nav {
	width: 50%;
}

ul {
    list-style-type: none;
}

a {
	text-decoration: none;
	color :black;
	font-weight: bold;
}

li {
	padding: 2rem;
	margin-top: -1rem;
}

h1, h2 {
	text-align: center;
	text-transform: capitalize;
}

.blog {
	width: 75%;
	margin:auto;
	margin-bottom: 5%;
}

.blog-title {
	margin-top: 0;
}

.blog-img {
	margin-right: 10%;
	margin-left: 10%;
	width: 65%;
	border-radius: 50%;
	box-shadow: 5px 5px 5px #296275;
	box-sizing: border-box;
}


form {
	display: block;
	margin: auto;
}

label {
	font-size: 1rem;
}

input {
	font-size: 1rem;
}

.padding-top-lrg {
	padding-top: 7rem; 
}

textarea {
	margin-top: 5%;
}

iframe {
	margin-bottom: 5%;
}

.projects img {
	box-shadow: 14px 13px 23px 1px rgba(0,0,0,0.75);
}



		/*ul.nav {
				padding:0;
				margin:0;
				width:100%;
				background:black;
				float:left;*/ /* If we dont float:left and width:100%, we dont see the background color */
			/*}*/

	/*ul.nav li {
				display:inline;
			}
			ul.nav li a {
				float:left;
				background:#3B5998;
				color:#D8DFEA;
				padding:10px 0;
				width:25%;
				text-align: center;
				color:white;
				font-family: sans-serif;
				text-decoration: none;
				}*/